body{
    background-image: url(https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;

    /* font */
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    .text-block a {
        color: white;
        text-decoration: underline;
    }
    .text-block a:hover {
        color: red;
    }
    h1{
        font-size: 200px;
    }
    img {
        width: 300px; 
        height: auto; 
        margin-bottom: 20px; 
    }
    .tableauPlaceholder {
        margin-top: 20px; 
        margin-bottom: 20px;
    }
    .text-block {
        margin-bottom: 10px;
    }
    .main-image{
        width: 20px;
        height: auto;
        border: 3px white;
    }
    #back-to-top {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: white; 
        color: aliceblue;
        padding: 10px;
        border-radius: 6px;
        text-decoration: none;
    }
   
    #back-to-top:hover {
        background-color: white; 
    }
}